/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Ignore large files and media uploads
/storage/app/public/*
/public/admin/assets/audio/*.mp3
/public/admin/assets/audio/*.wav
/public/admin/assets/audio/*.mp4
/public/frontend/assets/video/*.mp4
/public/frontend/assets/video/*.mov
/public/frontend/assets/video/*.avi
/vendor/**/builds/
/vendor/**/pint

# Ignore large file types globally
*.mp4
*.mp3
*.mov
*.avi
*.zip
*.rar
*.psd
*.ai
*.eps

# Ignore uploaded media and storage files
/storage/app/public/
/public/frontend/assets/img/slides/
/public/frontend/assets/img/services-pic/
